.skin-blue .main-header .navbar {
    background-color: #FF9900 !important;
}

.logo {
    background-color: #FF9900 !important;
}

.login-page, .register-page{
    background-color: #FF9900 !important;
}